{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css\_css.css' %}">
</head>

<body>
    {% include "_navbar.html" %}
    <br>
    カレーに使う食材のカロリー(kcal)、タンパク質(g)を計算できます。<br>
    一日の消費カロリーを計算したい場合は、性別、身長、体重、年齢、活動レベルを入力してください。<br>
    もし、消費カロリーを計算しない場合は、初期状態のままにしてください。<br>
    <br>
    <form action="" method="POST">
        <table>
        {{ form.as_table }}<!--{{form}}-->
        </table>
        {% csrf_token %}
        <button type="submit">計算します</button>
    </form>
    {% if ans != "" %}
    {{ ans | linebreaksbr }}
    {% endif %}
    <br>
    <h1>カレーの材料(8食分)</h1>
    <ul>
        <li>鶏むね肉(皮なし)：1000~1200g</li>
        <li>玉ねぎ：約350g　3~4個</li>
        <li>人参：約200g　2本</li>
        <li>トマト缶：1缶</li>
        <li>にんにく：4~5片　にんにくチューブでも問題ありません</li>
        <li>塩：17g　味見をしながら、好みの塩分量に調節してください</li>
        <li>カレー粉：16g　SBの赤缶カレー粉をおすすめします</li>       
    </ul>
    <br>
    {% include "_table.html" %}
</body>

</html>
