{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>
    {% include "_navbar.html" %}
    ここはcurryページです。
    カレーは飲み物です。

    <img src="{% static 'myapp\carrots.JPG' %}" width="420" height="280">
    
</body>

</html>
<!--
<img src="{% static 'carrots.JPG' %}" width="420" height="280">
<img src="{% static 'cut_chicken.JPG' %}" width="420" height="280">
<img src="{% static 'frozen_carros.JPG' %}" width="420" height="280">
<img src="{% static 'frozen_chicken.JPG' %}" width="420" height="280">
<img src="{% static 'salt.JPG' %}" width="420" height="280">
<img src="{% static 'onion.JPG' %}" width="420" height="280">
<img src="{% static 'onion_salt.JPG' %}" width="420" height="280">
<img src="{% static 'garlic.JPG' %}" width="420" height="280">
<img src="{% static 'tomato.JPG' %}" width="420" height="280">
<img src="{% static 'currypowder.JPG' %}" width="420" height="280">
<img src="{% static 'curry.JPG' %}" width="420" height="360">
<img src="{% static 'curry_cut_water.JPG' %}" width="420" height="280">
<img src="{% static 'curry_cut_waterless.JPG' %}" width="420" height="280">
<img src="{% static 'fried_eggs.JPG' %}" width="420" height="280">
<img src="{% static 'frozen_curry_bottom.JPG' %}" width="420" height="280">
<img src="{% static 'frozen_curry_top.JPG' %}" width="420" height="280">
-->

